<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.thork.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_this_new_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_this_new_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thork"
        android:usesCleartextTraffic="true">
        <activity android:name=".pages.material_actual.element.detail_material_actual.MaterialActualDetail"></activity>
        <activity android:name=".pages.material_actual.element.material_actual_item_master.MaterialActualItem" />
        <activity android:name=".pages.rfid_create_wo_material.RfidMaterialctivity" />
        <activity android:name=".pages.material_plan.element.form.MaterialPlanFormActivity" />
        <activity android:name=".pages.material_plan.element.material_plan_list_item_master.MaterialPlanItem" />
        <activity android:name=".pages.material_actual.element.form.MaterialActualFormActivity" />
        <activity android:name=".pages.material_actual.MaterialActualActivity" />
        <activity android:name=".pages.followup_wo.FollowUpWoActivity" />
        <activity android:name=".pages.rfid_create_wo_location.RfidCreateWoLocationActivity" />
        <activity android:name=".pages.material_plan.MaterialPlanActivity" />
        <activity android:name=".pages.rfid_create_wo_asset.RfidCreateWoAssetActivity" />
        <activity android:name=".pages.attachment.element.image_preview.AttachmentImagePreviewActivity" />
        <activity android:name=".pages.rfid_mutli_asset.RfidMultiAssetActivity" />
        <activity android:name=".pages.rfid_location.RfidLocationActivity" />
        <activity android:name=".pages.find_asset_location.FindLocationActivity" />
        <activity android:name=".pages.find_asset_location.FindAssetActivity" />
        <activity android:name=".pages.rfid_asset.RfidAssetAcitivty" />
        <activity android:name=".pages.example.RfidExActivity" />
        <activity android:name=".pages.multi_asset.DetailsAssetActivity" />
        <activity android:name=".pages.multi_asset.ListAssetActivity" />
        <activity android:name=".pages.attachment.AttachmentActivity" />
        <activity android:name=".pages.example.ImageActivity" />
        <activity android:name=".pages.detail_wo.DetailWoActivity" />
        <activity android:name=".pages.create_wo.CreateWoActivity" />
        <activity android:name=".pages.login_pattern.LoginPatternActivity" />
        <activity android:name=".pages.dummy.DummyActivity" />
        <activity android:name=".pages.settings_log.LogActivity" />
        <activity android:name=".pages.settings_log_detail.LogDetailActivity" />
        <activity android:name=".pages.settings_language.SettingsLanguageActivity" />
        <activity android:name=".pages.settings_pattern.SettingsPatternActivity" />
        <activity android:name=".pages.settings.SettingsActivity" />
        <activity android:name=".pages.about.AboutActivity" />
        <activity android:name=".pages.list_material.ListMaterialActivity" />
        <activity android:name=".pages.ScannerActivity" />
        <activity android:name=".pages.long_description.LongDescActivity" />
        <activity
            android:name=".pages.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.intro.IntroActivity" />
        <activity
            android:name=".pages.server.ServerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".pages.splash_screen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColdStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.main.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".messaging.ThorFcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
    </application>

</manifest>